/*
* @Author: name
* @Date:   2017-10-13 09:47:49
* @Last Modified by:   name
* @Last Modified time: 2017-10-15 14:27:14
*/
body{overflow-x:hidden;}
.inner{width: 1000px;margin: 0 auto;}
.header{position: relative;overflow:hidden;height: 665px;width: 100%;}
.header .inner-c{width: 1000px;margin: 0 auto;position: relative;top:19px;left:0;z-index: 10;}
.header .inner-c .logo a{width: 151px;height: 103px;float:left;text-indent:-9999em;background:url(../images/logo.png) no-repeat;}
.header .inner-c .nav{float:left;background: #fff;}
.header .inner-c .nav li{float:left;border-right:1px solid #EAEAEA;text-align: center;}
.header .inner-c .nav li a{display: block;width: 120px;height: 61px;padding-top: 30px;font:16px/16px "微软雅黑";color:#636363;}
.header .inner-c .nav li a:hover{border-top:4px solid #F28D00;position: relative;top:-4px;left:0;background:#F9F9F9; height: 57px;}
.header .inner-c .nav li a span{display:block;font:12px/12px "微软雅黑";color:#C7C7C7;margin-top: 10px;}

.header .slideBox{position: absolute;top:0; left:50%;margin-left: -960px; overflow:hidden;}
.header .slideBox ul li{top:0;left:0;}

.header .slideBox ol{background: url(../images/list_boxbg.png) repeat-y top center;position:absolute;top:217px;left:50%;height: 270px;margin-left: -500px; z-index:20;}
.header .slideBox ol li{background: url(../images/num_bg.png) no-repeat;width: 15px;height: 15px;margin-bottom: 70px;}
.header .slideBox ol li.current a{width: 104px;height: 43px;position:relative;display: block;background: url(../images/num_hover.png) no-repeat;left:-75px;top:-2px;}
.header .video{ position:absolute; right:50%; bottom: 80px;margin-right: -500px;}
.header .m-banner .banner-tip{position: absolute;top:168px;left:50%;text-align:center;margin-left: -70px;}
.header .m-banner .banner-tip h2{color:#fff;font-size:35px;}
.header .m-banner .banner-tip p{color:#F9E3C8;font-size:18px;line-height:32px;}

.content{position:relative;background: url(../images/content_bg.png) no-repeat top center;}
.content .inner-c{width: 1000px;margin: 0 auto;}
.content .long{width: 960px; height: 21px;position:absolute;top:-54px;left:50%;margin-left:-500px;background: #fff;border-bottom:1px solid #E0E0E0;padding:18px 20px 15px;}
.content .long p,.content .long p a{color:#878787;}
.content .long p a:last-child{color:#bf7316;}
.content .long ul.nav-ad li{float:left;height: 54px;border-left: 1px solid #E7E7E7;}
.content .long ul.nav-ad li a{width: 104px;display:block;text-align:center;}
.content .long ul.nav-ad li a:hover{background: url(../images/contC_label_hoverbg.png)no-repeat;padding-bottom:10px;}



.content .f-links{height: 282px;}
.content .f-links>a{padding-left:8px;}
.content .f-links>a:hover{color:#F28C00;}
.content .f-links>h3{font-size:16px;color:#666;line-height: 42px;}
.content .f-links>ul{margin-top: 43px;}
.content .f-links>ul>li{float:left;padding:0 30px;}
.content .f-links ul li h3{font-size: 14px;color: #646464;font-weight: normal;margin-bottom: 8px;}
.content .f-links ul li ul li a{color:#a0a0a0;line-height:23px;display: block;}
.content .f-links .qrcode{width: 102px;text-align:center;float:left;}
.content .f-links .qrcode span{line-height:28px;}

.footer{height: 56px;background: #2B2B2B;}
.footer span{color:#b7b7b7;line-height:56px;}
.footer span.copyright{float:left;}
.footer span.license{float:right;}
