/*
* @Author: name
* @Date:   2017-10-13 09:48:15
* @Last Modified by:   name
* @Last Modified time: 2017-10-15 09:53:59
*/

/*内容*/

.content .long h3{float:left;font:normal 16px "微软雅黑";}
.content .long a.viewAll{float:right;width: 67px;height: 27px;background: #DCDCDC;color:white;display: block;line-height: 27px;text-align:center;}
.content .long ul{float:left;padding-left: 36px;width: 540px;}
.content .long ul li{line-height:27px;}
.content .long ul li span{margin-left: 10px;}
.content .long>span{float:left;margin-top: 5px;}
.content .long>span a{display:block;width: 23px;height: 17px;float:left;}
.content .long>span .left-btn{background: url(../images/btn_bg.png) no-repeat -1px 0;}
.content .long>span .left-btn:hover{background: url(../images/btn_bg.png) no-repeat -1px -17px;}
.content .long>span .right-btn{background: url(../images/btn_bg.png) no-repeat -23px 0;}
.content .long>span .right-btn:hover{background: url(../images/btn_bg.png) no-repeat -23px -17px;}

.content .main{background: #F3F3F3;border-bottom:1px solid #DDDDDD;}
.content .main ul{width: 1200px;overflow:hidden;padding-bottom: 15px;}
.content .main ul li{float:left;width: 304px;margin-left: 24px;padding-top: 4px;}
.content .main ul li h3{font-weight: normal;line-height:49px;overflow:hidden;}
.content .main ul li h3 .title{font-size: 16px;color:#3e3e3e;float:left;}
.content .main ul li h3 .more{font-size: 12px;color:#a9a9a9;float:right;text-decoration: underline}
.content .main ul li p.img-box{background: url(../images/cont_item_show_bg.png) no-repeat;padding-left:10px;padding-top: 10px;height: 185px;}
.content .main ul li p.img-box img{width: 280px;height: 160px;}
.content .main ul li p.txt1{line-height: 23px;margin-top: 10px;color:#8c8c8c;}

.content .hot{height: 138px;background: #F3F3F3;padding: 20px;}
.content .hot h3{float:left;}
.content .hot span{float:right;}
.content .hot span a{float:left;}
.content .hot span .left-btn{background: url(../images/btn_bg.png) no-repeat 0px -39px;width: 28px;height: 25px;}
.content .hot span .right-btn{background: url(../images/btn_bg.png) no-repeat -28px -39px;width: 28px;height: 25px;}
.content .hot-bg{background: url(../images/line_bg.png) no-repeat;height: 11px;}

