html,body,div,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,a,img,input,textarea,select{margin:0;padding:0;}
ul,ol{list-style:none;}
body{font:12px/1 "Microsoft Yahei","Arial";}
a{color:#8c8c8c;text-decoration:none;}
img{vertical-align:top; /*解决图片垂直的缝隙*/}
em,i{font-style: normal;}